<h2>Portfolio-Timeline</h2>
<% content_for :header_tags do %>
	
	<%= javascript_include_tag 'moment-with-locales', :plugin => 'portfolio_timeline' %>
	<%= stylesheet_link_tag 'vis', :plugin => 'portfolio_timeline' %>
	<%= javascript_include_tag 'vis', :plugin => 'portfolio_timeline' %>
	<%= stylesheet_link_tag 'plugin_style', :plugin => 'portfolio_timeline' %>
	<%= javascript_include_tag 'plugin', :plugin => 'portfolio_timeline' %>

<% end %>

<div id="optMenu">
  <div class="optMenuItem" id="checkboxSection">
    <h4>Mostrar: </h3>
    <input type="checkbox" onclick="updateElement('hitos')" id="hitosCheckbox" autocomplete="off">Hitos
	<input type="checkbox" onclick="updateElement('progressBar')" id="progressBarCheckbox" autocomplete="off">Indicador de progreso
  </div>
  <div class="optMenuItem">
  <div id="filterSection">
	<div class="filterItem">
		<select id="statusSelector" autocomplete="off">
			<option selected value=''>-- Seleccione estado --</option>
			<% @statuses.each do |status| %>
				<option value=<%= status.name %>><%= status.name %></option>
			<% end %>
		</select>
		<button class="optButton" id="applyStatusFilter" onclick="applyFilter()">Aplicar filtro</button>
	</div>
	</div>
  </div>
</div>

<div id="visualization"></div>
<script type="text/javascript">

  var container = document.getElementById('visualization');
  var groups = new vis.DataSet();

  var items = new vis.DataSet();
    <% @issues.each do |issue| %>
	<% @start = issue.custom_field_value(@startDateID) %>
	<% @end = issue.custom_field_value(@dueDateID) %>
	<% if @start!=""%>
	<% if @end!=""%>
	  groups.add({id: <%= issue.id %>,
		          content: '<%= issue.subject %>',
				  button: '<button class="styledButton" onclick="moveWindow(<%= @start.split(/(\d{4})\-(\d{1,2})\-(\d{1,2})/) %>)">\
							<div class=iconButton><%= image_tag('goToStartIcon.svg', :plugin => 'portfolio_timeline') %></div>\
						   </button>',
				  subgroupOrder: function (a,b) {return a.subgroupOrder - b.subgroupOrder;},
				  subgroupStack: {'<%= issue.id %>-line': true, '<%= issue.id %>-hitos': true},
				  status: '<%= issue.status %>',
				  link: '<%= link_to_issue(issue,:subject => false) %>',
				  system: 'XX.XX Nombre del sistema/subsistema'
					});
	  var issueData = {
	  group: '<%= issue.id %>',
	  subgroup:'<%= issue.id %>-line',
	  subgroupOrder:1,
	  title:'Fecha inicio planificada: <%= @start %><br>Fecha fin planificada: <%= @end %>',
	  visibleFrameTemplate: '<div class="progress-wrapper">\
							   <div class="progress" style="width:<%= issue.done_ratio %>%"></div>\
							   <label class="progress-label"><%= issue.done_ratio %>%<label>\
							 </div>',
  	  start: '<%= @start %>',
  	  end: '<%= @end %>'};
	  items.add(issueData);
	  <% @hitos = issue.custom_field_value(@hitosFieldID).split(/(\[\d{4}-\d{1,2}-\d{1,2}\|.*\])/) %>
	  <% @hitos.each do |hito| %>
	    <% if !hito.blank? %>
	      <% hitoSplitted= hito.split(/\[(\d{4})\-(\d{1,2})\-(\d{1,2})\|(.*)\]/) %>
		  var hitoData = {start: '<%= hitoSplitted[1] %>-<%= hitoSplitted[2] %>-<%= hitoSplitted[3] %>',
			              content: '<%= hitoSplitted[4] %>',
			              group: '<%= issue.id %>',
			              subgroup: '<%= issue.id %>-hitos',
			              subgroupOrder:2,
						  title: 'Fecha: <%= hitoSplitted[1] %>-<%= hitoSplitted[2] %>-<%= hitoSplitted[3] %>',
			              type: 'point'};
		  items.add(hitoData);
	    <% end %>
	  <% end %>
	  <% end %>
	  <% end %>
  	<% end %>

    var options = {
	  locale:'es',
	  orientation: 'top',
	  groupOrder: 'id',
	  visibleFrameTemplate: function(item) {
        if (item.visibleFrameTemplate) {
          return item.visibleFrameTemplate;
        }
      },
	  groupTemplate: 	function(item) {
			var tableContent = '<div class="pseudoTable">\
									<div class="paddedTd max50">'+item.link+'</div>\
									<div class="paddedTd">'+item.status+'</div>\
									<div class="paddedTd" style="text-align:left;">'+item.content+'</div>\
									<div class="paddedTd max50">'+item.button+'</div>\
								</div>';
			return tableContent;
		}
	};

    var timeline = new vis.Timeline(container, items, options);
    timeline.setGroups(groups);
	var width = document.getElementsByClassName('vis-labelset')[0].offsetWidth;
	var layer = '<div id="pseudoTableHeaders">\
					<div class="pseudoTable">\
						<div class="paddedTd max50">ID</div>\
						<div class="paddedTd">Estado</div>\
						<div class="paddedTd">Descripción</div>\
						<div class="paddedTd max50">Ir a inicio</div>\
					</div>';
	$('.vis-timeline').first().prepend(layer);
	$('#pseudoTableHeaders').width(width);
  </script>
</html>