<h2>Portfolio Project: <%= params[:id] %></h2>
<% content_for :header_tags do %>
	<script src="/plugin_assets/portfolio_timeline/vis/dist/vis.js"></script>
	<link href="/plugin_assets/portfolio_timeline/vis/dist/vis.css" rel="stylesheet" type="text/css" />
	<%= stylesheet_link_tag 'plugin_style', :plugin => 'portfolio_timeline' %>
<% end %>
 
<div id="visualization"></div>
  <script type="text/javascript">
    
	var container = document.getElementById('visualization');
    var groups = new vis.DataSet();
	
	var items = new vis.DataSet();
  	  <% @issues.each do |issue| %>
	    groups.add({id: <%= issue.id %>, content: '<%= issue.subject %>'});
  	    var issueData = {content: '<%= issue.subject %>', 
		group: '<%= issue.id %>',
  	    start: '<%= issue.custom_field_value(@plannedStartDateID) %>',
  	    end: '<%= issue.custom_field_value(@plannedDueDateID) %>'};
		items.add(issueData);
		<% @hitos = issue.custom_field_value(@hitosFieldID).split("/") %>
		<% @hitos.take_while{ |hito| !hito.blank? }.each do |hito| %>
			var hitoData = {start: '<%= hito.split("-")[0].squish %>-<%= hito.split("-")[1] %>-<%= hito.split("-")[2] %>',
			content: '<%= hito.split("-")[3].squish %>',
			group: '<%= issue.id %>',
			type: 'point'};
			items.add(hitoData);
		<% end %>
  	  <% end %>
    var options = {
	  groupOrder: 'content'
	};
    var timeline = new vis.Timeline(container, items, options);
    timeline.setGroups(groups);
  </script>
</html>