<h2>Portfolio</h2>
<% content_for :header_tags do %>
	
	<%= javascript_include_tag 'moment-with-locales', :plugin => 'portfolio_timeline' %>
	<%= stylesheet_link_tag 'vis', :plugin => 'portfolio_timeline' %>
	<%= javascript_include_tag 'vis', :plugin => 'portfolio_timeline' %>
	<%= stylesheet_link_tag 'plugin_style', :plugin => 'portfolio_timeline' %>
	<%= javascript_include_tag 'plugin', :plugin => 'portfolio_timeline' %>
	<%= javascript_include_tag 'html2canvas', :plugin => 'portfolio_timeline' %>

<% end %>

<fieldset id="filters" class="collapsible collapsed ">
	<legend onclick="toggleFieldset(this);">Filtros</legend>
	<div id="filterBox" style="display:none;">
		<div class="filterContainer">
			<div class="filterItem">
				<div class="filterLabel">Tipo:</div>
				<div class="filterSelect">
					<select id="trackerSelector" onchange="applyTrackerFilter()" autocomplete="off">
						<option selected value=0>Todos</option>
						<% @trackers.each do |tracker| %>
							<option value=<%= tracker.id %>><%= tracker.name %></option>
						<% end %>
					</select>
				</div>	
			</div>
			<div class="filterItem">
				<div class="filterLabel">Asignado a:</div>
				<div class="filterSelect">
					<select id="attendantSelector" onchange="applyAttendantFilter()" autocomplete="off">
						<option selected value="all">Todos</option>
						<% @attendants.each do |attendant| %>
							<option value="<%= attendant.id %>"><%= attendant.firstname + " " + attendant.lastname %></option>
						<% end %>
					</select>
				</div>
			</div>
			<div class="filterItem">
				<div class="filterLabel">Estado:</div>
				<div class="filterSelect">
					<select id="statusSelector" onchange="applyStatusFilter()" autocomplete="off" multiple size ="5">
						<option selected value="all">Todos</option>
						<% @statuses.each do |status| %>
							<option value="<%= status.name %>"><%= status.name %></option>
						<% end %>
					</select>
				</div>
			</div>
		</div>
	</div>
</fieldset>
<fieldset class="collapsible collapsed">
	<legend onclick="toggleFieldset(this);">Opciones</legend>
	<div id="optBox" style="display:none;">
		<div class="optItem">
			Agrupar resultados por:
			<select id="customFieldSelector" onchange="updateAllElements()" autocomplete="off">
				<option selected value=""></option>
				<option value="customField1"><%= @customField1Name %></option>
				<option value="customField2"><%= @customField2Name %></option>
				<option value="customField3"><%= @customField3Name %></option>
			</select>
		</div>
		<div class="optItem">
			Mostrar:
			<input type="checkbox" onclick="updateElement('hitos')" id="hitosCheckbox" autocomplete="off">Hitos
			<input type="checkbox" onclick="updateElement('progressBar')" id="progressBarCheckbox" autocomplete="off">Indicador de progreso
		</div>
	</div>
</fieldset>

<fieldset class="collapsible">
	<legend onclick="toggleFieldset(this);timeline.redraw();">Timeline</legend>
	<div style="">
		<div id="zoomSection">
			<button class="styledButton" id="zoomInButton" onclick="zoomIn()">
				<div class=iconButton>
					<%= image_tag('zoom_in.png', :plugin => 'portfolio_timeline') %>
				</div>
			</button>
			<button class="styledButton" id="zoomOutButton" onclick="zoomOut()">
				<div class=iconButton>
					<%= image_tag('zoom_out.png', :plugin => 'portfolio_timeline') %>
				</div>
			</button>
		</div>
		<div id="visualization"></div>
		<p class="other-formats">
			Exportar a:  
			<span onclick="visToCanvas('visualization')"><a>PNG</a></span>
		</p>
	</div>
</fieldset>

<fieldset class="collapsible collapsed">
	<legend onclick="toggleFieldset(this);">Items</legend>
	<div style="display:none;">
	<div id = "tableVisualization">
	<table id="itemsTable">
		<tr>
			<th class="idCol">ID</th>
			<th>Tipo</th>
			<th>Sistema</th>
			<th>Estado</th>
			<th>Porcentaje completado</th>
		</tr>
		<% @issuesDemandas.each do |issue| %>
			<% if !issue.closed? %>
				<tr class="white">
				
					<td class="idCol" title="<%= issue.subject %>">
						<span id="ps-<%= issue.id %>-show" style="cursor:pointer;"
						onclick="showTr('.ps-<%= issue.id %>','#ps-<%= issue.id %>-hide','#ps-<%= issue.id %>-show')">
							+
						</span>
						<span id="ps-<%= issue.id %>-hide"style="cursor:pointer; display:none;"
						onclick="hideTr('.ps-<%= issue.id %>-hide','#ps-<%= issue.id %>-show','#ps-<%= issue.id %>-hide')">
							-
						</span>
						<%= link_to_issue(issue, :subject => false, :tracker => false) %>
					</td>
					
					<td><%= issue.tracker %></td>
					<td><%= issue.project %></td>
					<td><%= issue.status %></td>
					<td style="background:linear-gradient(to right, #909090 <%= issue.done_ratio %>%,#ffffff <%= issue.done_ratio %>%);">
						<%= issue.done_ratio %>%
					</td>
				</tr>
				<% @relatedPss = issue.relations %>
				<% @relatedPss.each do |relatedPs| %>
					<% if relatedPs.issue_from.id != issue.id and relatedPs.relation_type == 'blocks' %>
						<tr class="hidden child ps-<%= issue.id %> ps-<%= issue.id %>-hide">
							<td class="idCol" title="<%= relatedPs.issue_from.subject %>">
								&emsp;&emsp;
								<span id="hu-<%= relatedPs.issue_from.id %>-show" style="cursor:pointer;"
								onclick="showTr('.hu-<%= relatedPs.issue_from.id %>','#hu-<%= relatedPs.issue_from.id %>-hide','#hu-<%= relatedPs.issue_from.id %>-show')">
									+
								</span>
								<span id="hu-<%= relatedPs.issue_from.id %>-hide" style="cursor:pointer; display:none;"
								onclick="hideTr('.hu-<%= relatedPs.issue_from.id %>-hide','#hu-<%= relatedPs.issue_from.id %>-show','#hu-<%= relatedPs.issue_from.id %>-hide')">
									-
								</span>
								<%= link_to_issue(relatedPs.issue_from, :subject => false, :tracker => false) %>
							</td>
							<td><%= relatedPs.issue_from.tracker %></td>
							<td><%= relatedPs.issue_from.project %></td>
							<td><%= relatedPs.issue_from.status %></td>
							<td style="background:linear-gradient(to right, #909090 <%= relatedPs.issue_from.done_ratio %>%,#ffffff <%= relatedPs.issue_from.done_ratio %>%);">
								<%= relatedPs.issue_from.done_ratio %>%
							</td>
						</tr>
						<% @relatedHus = relatedPs.issue_from.relations %>
						<% @relatedHus.each do |relatedHu| %>
							<% if relatedHu.issue_from.id != relatedPs.issue_from.id and relatedPs.relation_type == 'blocks' %>
								<tr class="hidden child hu-<%= relatedPs.issue_from.id %> ps-<%= issue.id %>-hide hu-<%= relatedPs.issue_from.id %>-hide">
									<td class="idCol" title="<%= relatedHu.issue_from.subject %>">
										&emsp;&emsp;&emsp;&emsp;
										<span id="td-<%= relatedHu.issue_from.id %>-show" style="cursor:pointer;"
										onclick="showTr('.td-<%= relatedHu.issue_from.id %>','#td-<%= relatedHu.issue_from.id %>-hide','#td-<%= relatedHu.issue_from.id %>-show')">
											+
										</span>
										<span id="td-<%= relatedHu.issue_from.id %>-hide" style="cursor:pointer; display:none;"
										onclick="hideTr('.td-<%= relatedHu.issue_from.id %>','#td-<%= relatedHu.issue_from.id %>-show','#td-<%= relatedHu.issue_from.id %>-hide')">
											-
										</span>
										<%= link_to_issue(relatedHu.issue_from, :subject => false, :tracker => false) %>
									</td>
									<td><%= relatedHu.issue_from.tracker %></td>
									<td><%= relatedHu.issue_from.project %></td>
									<td><%= relatedHu.issue_from.status %></td>
									<td style="background:linear-gradient(to right, #909090 <%= relatedHu.issue_from.done_ratio %>%,#ffffff <%= relatedHu.issue_from.done_ratio %>%);">
										<%= relatedHu.issue_from.done_ratio %>%
									</td>
								</tr>
								<% if relatedHu.issue_from.children? %>
								<% @relatedTds = relatedHu.issue_from.children %>
									<% @relatedTds.each do |relatedTd| %>
											<tr class="hidden child td-<%= relatedHu.issue_from.id %> ps-<%= issue.id %>-hide hu-<%= relatedPs.issue_from.id %>-hide">
												<td class="idCol" title="<%= relatedTd.subject %>">
													&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
													<%= link_to_issue(relatedTd, :subject => false, :tracker => false) %>
												</td>
												<td><%= relatedTd.tracker %></td>
												<td><%= relatedTd.project %></td>
												<td><%= relatedTd.status %></td>
												<td style="background:linear-gradient(to right, #909090 <%= relatedTd.done_ratio %>%,#ffffff <%= relatedTd.done_ratio %>%);">
													<%= relatedTd.done_ratio %>%
												</td>
											</tr>
									<% end %>
								<% end %>
							<% end %>
						<% end %>	
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		
	</table>
	</div>
	<p class="other-formats">
			Exportar a:  
			<span onclick="visToCanvas('tableVisualization')"><a>PNG</a></span>
	</p>
	</div>
	
</fieldset>

<script type="text/javascript">
	var statusPerTrackerArray = <%= raw @statusPerTrackerArray %>;
	var container = document.getElementById('visualization');
	var groups = new vis.DataSet();
	var today = new Date();
	var items = new vis.DataSet();
	<% @issues.each do |issue| %>
		<% @start = issue.custom_field_value(@startDateID) %>
		<% @end = issue.custom_field_value(@dueDateID) %>
		<% @customField1 = issue.custom_field_value(@customField1ID) %>
		<% @customField2 = issue.custom_field_value(@customField2ID) %>
		<% @customField3 = issue.custom_field_value(@customField3ID) %>
		<% if !issue.closed? %>
			groups.add({id: <%= issue.id %>,
					content: '<span onclick="moveWindow(<%= @start.split(/(\d{4})\-(\d{1,2})\-(\d{1,2})/) %>)"><%= issue.subject %></span>',
					contentSortKey: '<%= issue.subject %>',
					subgroupOrder: function (a,b) {return a.subgroupOrder - b.subgroupOrder;},
					subgroupStack: {'<%= issue.id %>-line': true, '<%= issue.id %>-hitos': true},
					status: '<%= issue.status %>',
					statusPos: '<%= issue.status.position %>',
					visible: true,
					link: '<%= link_to_issue(issue, :subject => false, :tracker => false) %>',
					assigned_to_id: '<%= issue.assigned_to_id %>',
					customField1: '<%= @customField1.squish %>',
					customField2: '<%= @customField2.squish %>',
					customField3: '<%= @customField3.squish %>',
					trackerId: '<%= issue.tracker_id%>'
					});
			<% if @start!="" and @end!="" %>
				var currentIssueEndDate =new Date('<%= @end %>T00:00:00Z');
				var rangeColor = '#90a3cc';
				if(today > currentIssueEndDate && <%= issue.done_ratio %> < 100){
					rangeColor = '#dd2200';
				}
				var issueData = {
					content: '<div class="progress-wrapper" style="background:'+ rangeColor +';">\
								<div class="progress" style="width:<%= issue.done_ratio %>%">\
								<label class="progress-label"><%= issue.done_ratio %>%<label></div>\
							</div>',
					group: '<%= issue.id %>',
					subgroup:'<%= issue.id %>-line',
					subgroupOrder:1,
					title:'Fecha de inicio planificada: <%= @start %><br>Fecha de fin planificada: <%= @end %>',
					start: '<%= @start %>',
					end: '<%= @end %>'};
				items.add(issueData);
			<% end %>
			<% @hitos = issue.custom_field_value(@hitosFieldID).split(/(\[\d{4}-\d{1,2}-\d{1,2}\|.*\])/) %>
			<% @hitos.each do |hito| %>
				<% if !hito.blank? %>
					<% hitoSplitted= hito.split(/\[(\d{4})\-(\d{1,2})\-(\d{1,2})\|(.*)\]/) %>
					var hitoData = {start: '<%= hitoSplitted[1] %>-<%= hitoSplitted[2] %>-<%= hitoSplitted[3] %>',
							group: '<%= issue.id %>',
							subgroup: '<%= issue.id %>-hitos',
							subgroupOrder:2,
							title: 'Fecha: <%= hitoSplitted[1] %>-<%= hitoSplitted[2] %>-<%= hitoSplitted[3] %><br>\
									<%= hitoSplitted[4] %>',
							type: 'point'};
					items.add(hitoData);
				<% end %>
			<% end %>
		<% end %>
  	<% end %>
	
    var options = {
		locale:'es',
		orientation: 'top',
		groupOrder: 'id',
		groupTemplate: 	function(item) {
			var tableContent = '<div class="pseudoTable">\
									<div class="paddedTd max150 customField1" style="display:none;">'+item.customField1+'</div>\
									<div class="paddedTd max150 customField2" style="display:none;">'+item.customField2+'</div>\
									<div class="paddedTd max150 customField3" style="display:none;">'+item.customField3+'</div>\
									<div class="paddedTd max75">'+item.link+'</div>\
									<div class="paddedTd max150">'+item.status+'</div>\
									<div class="paddedTd max250" style="text-align:left;" >\
										<a class="description">'+item.content+'\
									</div>\
								</div>';
			return tableContent;
		}
	};

    var timeline = new vis.Timeline(container, items, options);
	timeline.on('rangechanged', function () {
		updateElement("progressBar");
		updateElement("hitos");
	});
	
	var trackerFilteredGroups = new vis.DataSet();
	var attendantFilteredGroups = new vis.DataSet();
	trackerFilteredGroups.add(groups.get());
	attendantFilteredGroups.add(groups.get());
    timeline.setGroups(groups);

	var width = document.getElementsByClassName('vis-labelset')[0].offsetWidth;
	var sortCrit = ['id','statusPos','contentSortKey'];
	var layer = '<div id="pseudoTableHeaders">\
					<div class="pseudoTable">\
						<div class="paddedTd max150 customColumnHeader">Columna Personalizada</div>\
						<div class="paddedTd max75"><span onclick="sortBy(sortCrit[0])"><a>ID</a></span></div>\
						<div class="paddedTd max150"><span onclick="sortBy(sortCrit[1])"><a>Estado</a></span></div>\
						<div class="paddedTd max250"><span onclick="sortBy(sortCrit[2])"><a>Descripción</a></span></div>\
					</div>';
	$('.vis-timeline').first().prepend(layer);
	$('#pseudoTableHeaders').width(width);
  </script>
</html>