<h2>Portfolio-Timeline</h2>
<% content_for :header_tags do %>
	
	<%= javascript_include_tag 'moment-with-locales', :plugin => 'portfolio_timeline' %>
	<%= stylesheet_link_tag 'vis', :plugin => 'portfolio_timeline' %>
	<%= javascript_include_tag 'vis', :plugin => 'portfolio_timeline' %>
	<%= stylesheet_link_tag 'plugin_style', :plugin => 'portfolio_timeline' %>
	<%= javascript_include_tag 'plugin', :plugin => 'portfolio_timeline' %>

<% end %>

<fieldset id="filters" class="collapsible collapsed ">
	<legend onclick="toggleFieldset(this);">Filtros</legend>
	<div id="filterBox" style="display:none;">
		<div class="filterItem">
			<div><span style ="font-weight: bold;">Tipo</span></div>
			<div>
				<select id="trackerSelector" onchange="applyTrackerFilter()" autocomplete="off">
					<option selected value=0>Todos</option>
					<% @trackers.each do |tracker| %>
						<option value=<%= tracker.id %>><%= tracker.name %></option>
					<% end %>
				</select>
			</div>	
		</div>
		<div class="filterItem">
			<div><span style ="font-weight: bold;">Estado</span></div>
			<div>
				<select id="statusSelector" onchange="applyStatusFilter()" autocomplete="off" multiple size ="3">
					<option selected value="all">Todos</option>
					<% @statuses.each do |status| %>
						<option value="<%= status.name %>"><%= status.name %></option>
					<% end %>
				</select>
			</div>
		</div>
	</div>
</fieldset>
<fieldset class="collapsible collapsed">
	<legend onclick="toggleFieldset(this);">Opciones</legend>
	<div id="optBox" style="display:none;">
		<div class="optItem">
			<h4>Mostrar: </h4>
			<input type="checkbox" onclick="updateElement('hitos')" id="hitosCheckbox" autocomplete="off">Hitos
			<input type="checkbox" onclick="updateElement('progressBar')" id="progressBarCheckbox" autocomplete="off">Indicador de progreso
		</div>
	</div>
</fieldset>



<div id="zoomSection">
	<button class="styledButton" id="zoomInButton" onclick="zoomIn()">
		<div class=iconButton>
			<%= image_tag('zoom_in.png', :plugin => 'portfolio_timeline') %>
		</div>
	</button>
	<button class="styledButton" id="zoomOutButton" onclick="zoomOut()">
		<div class=iconButton>
			<%= image_tag('zoom_out.png', :plugin => 'portfolio_timeline') %>
		</div>
	</button>
</div>





<div id="visualization"></div>
<script type="text/javascript">
  var statusPerTrackerArray = <%= raw @statusPerTrackerArray %>;
  var container = document.getElementById('visualization');
  var groups = new vis.DataSet();
  var trackerFilteredGroups = new vis.DataSet();

  var items = new vis.DataSet();
    <% @issues.each do |issue| %>
	<% @start = issue.custom_field_value(@startDateID) %>
	<% @end = issue.custom_field_value(@dueDateID) %>
	<% if @start!=""%>
	<% if @end!=""%>
	  groups.add({id: <%= issue.id %>,
		          content: '<span onclick="moveWindow(<%= @start.split(/(\d{4})\-(\d{1,2})\-(\d{1,2})/) %>)"><%= issue.subject %></span>',
				  subgroupOrder: function (a,b) {return a.subgroupOrder - b.subgroupOrder;},
				  subgroupStack: {'<%= issue.id %>-line': true, '<%= issue.id %>-hitos': true},
				  status: '<%= issue.status %>',
				  visible: true,
				  link: '<%= link_to_issue(issue, :subject => false, :tracker => false) %>',
				  trackerId: '<%= issue.tracker_id%>'
					});
	  var issueData = {
	  content: '<div class="progress-wrapper">\
							   <div class="progress" style="width:<%= issue.done_ratio %>%"></div>\
							   <label class="progress-label"><%= issue.done_ratio %>%<label>\
							 </div>',
	  group: '<%= issue.id %>',
	  subgroup:'<%= issue.id %>-line',
	  subgroupOrder:1,
	  title:'Fecha de inicio planificada: <%= @start %><br>Fecha de fin planificada: <%= @end %>',
  	  start: '<%= @start %>',
  	  end: '<%= @end %>'};
	  items.add(issueData);
	  <% @hitos = issue.custom_field_value(@hitosFieldID).split(/(\[\d{4}-\d{1,2}-\d{1,2}\|.*\])/) %>
	  <% @hitos.each do |hito| %>
	    <% if !hito.blank? %>
	      <% hitoSplitted= hito.split(/\[(\d{4})\-(\d{1,2})\-(\d{1,2})\|(.*)\]/) %>
		  var hitoData = {start: '<%= hitoSplitted[1] %>-<%= hitoSplitted[2] %>-<%= hitoSplitted[3] %>',
			              content: '',
			              group: '<%= issue.id %>',
			              subgroup: '<%= issue.id %>-hitos',
			              subgroupOrder:2,
						  title: 'Fecha: <%= hitoSplitted[1] %>-<%= hitoSplitted[2] %>-<%= hitoSplitted[3] %><br>\
								  <%= hitoSplitted[4] %>',
			              type: 'point'};
		  items.add(hitoData);
	    <% end %>
	  <% end %>
	  <% end %>
	  <% end %>
  	<% end %>

    var options = {
	  locale:'es',
	  orientation: 'top',
	  groupOrder: 'id',
	  groupTemplate: 	function(item) {
			var tableContent = '<div class="pseudoTable">\
									<div class="paddedTd max100">'+item.link+'</div>\
									<div class="paddedTd max200">'+item.status+'</div>\
									<div class="paddedTd max250" style="text-align:left;" >\
										<a class="description">'+item.content+'</a>\
									</div>\
								</div>';
			return tableContent;
		}
	};

    var timeline = new vis.Timeline(container, items, options);
	timeline.on('rangechanged', function () {
		updateElement("progressBar");
		updateElement("hitos");
	});
    timeline.setGroups(groups);
	var width = document.getElementsByClassName('vis-labelset')[0].offsetWidth;
	var layer = '<div id="pseudoTableHeaders">\
					<div class="pseudoTable">\
						<div class="paddedTd max100">ID</div>\
						<div class="paddedTd max200">Estado</div>\
						<div class="paddedTd max250">Descripción</div>\
					</div>';
	$('.vis-timeline').first().prepend(layer);
	$('#pseudoTableHeaders').width(width);
  </script>
</html>