<% @cfNames= CustomField.all %>
<% @currentStartDate = Setting.plugin_portfolio_timeline['start_date'] %>
<% @currentDueDate = Setting.plugin_portfolio_timeline['due_date'] %>
<% @currentHitos = Setting.plugin_portfolio_timeline['hitos'] %>


<table>
  <tbody>
    <tr>
      <th>Nombre del campo para fecha de inicio planificada</th>
      <td>
		<select id="start_date" name="settings[start_date]">
			<% @cfNames.each do |cfName| %>
				<option <% if(cfName.name==@currentStartDate) %>
							<%= 'selected' %>
						<% end %>
						value="<%= cfName.name %>">
						<%= cfName.name %>
				</option>
			<% end %>
		</select>
      </td>
    </tr>
	<tr>
      <th>Nombre del campo para fecha de fin planificada</th>
      <td>
	    <select id="due_date" name="settings[due_date]">
			<% @cfNames.each do |cfName| %>
				<option <% if(cfName.name==@currentDueDate) %>
							<%= 'selected' %>
						<% end %>
						value="<%= cfName.name %>">
						<%= cfName.name %>
				</option>
			<% end %>
		</select>
      </td>
    </tr>
	<tr>
      <th>Nombre del campo para hitos planificados</th>
      <td>
	    <select id="hitos" name="settings[hitos]">
			<% @cfNames.each do |cfName| %>
				<option <% if(cfName.name==@currentHitos) %>
							<%= 'selected' %>
						<% end %>
						value="<%= cfName.name %>">
						<%= cfName.name %>
				</option>
			<% end %>
		</select>
      </td>
    </tr>
  </tbody>
</table>
